In [2]:
import pandas as pd

Q1. List any five functions of the pandas library with execution.

In [3]:
import pandas as pd

# Creating a sample DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)

# 1. head() - Return the first n rows of the DataFrame
print("head():\n", df.head(), "\n")

# 2. info() - Print a concise summary of a DataFrame
print("info():\n")
df.info()
print("\n")

# 3. describe() - Generate descriptive statistics
print("describe():\n", df.describe(), "\n")

# 4. isnull() - Detect missing values
print("isnull():\n", df.isnull(), "\n")

# 5. dropna() - Remove missing values
print("dropna():\n", df.dropna(), "\n")

head():
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

info():

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes


describe():
          A    B    C
count  3.0  3.0  3.0
mean   2.0  5.0  8.0
std    1.0  1.0  1.0
min    1.0  4.0  7.0
25%    1.5  4.5  7.5
50%    2.0  5.0  8.0
75%    2.5  5.5  8.5
max    3.0  6.0  9.0

isnull():
        A      B      C
0  False  False  False
1  False  False  False
2  False  False  False

dropna():
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

Q2. Re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [4]:
def reindex_df(df):
    df.index = range(1, 2 * len(df) + 1, 2)
    return df

# Creating a sample DataFrame
df = pd.DataFrame(data)
print("Re-indexed DataFrame:\n", reindex_df(df), "\n")

Re-indexed DataFrame:
    A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

Q3. Calculate the sum of the first three values in the 'Values' column.

In [5]:
def sum_first_three_values(df):
    return df['Values'].head(3).sum()

# Creating a sample DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
print("Sum of first three values:", sum_first_three_values(df), "\n")

Sum of first three values: 60

Q4. Create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [6]:
def add_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

# Creating a sample DataFrame
data = {'Text': ["Hello world", "Pandas is great", "I love Python"]}
df = pd.DataFrame(data)
print("DataFrame with Word_Count:\n", add_word_count(df), "\n")

DataFrame with Word_Count:
               Text  Word_Count
0      Hello world           2
1  Pandas is great           3
2    I love Python           3

Q5. Difference between DataFrame.size() and DataFrame.shape().

In [10]:
print(df )# DataFrame
# DataFrame.size returns the number of elements in the DataFrame
print("DataFrame.size:", df.size)

# DataFrame.shape returns a tuple representing the dimensionality of the DataFrame
print("DataFrame.shape:", df.shape)

              Text  Word_Count
0      Hello world           2
1  Pandas is great           3
2    I love Python           3
DataFrame.size: 6
DataFrame.shape: (3, 2)

Q6. Which function of pandas do we use to read an Excel file?

In [13]:
import numpy as np
import pandas as pd

# Set random seed for reproducibility
np.random.seed(42)

# Generate a synthetic dataset
num_rows = 100
data = {
    'ID': np.arange(1, num_rows + 1),
    'Age': np.random.randint(18, 70, size=num_rows),
    'Salary': np.random.randint(30000, 120000, size=num_rows),
    'Department': np.random.choice(['HR', 'Finance', 'Engineering', 'Marketing'], size=num_rows),
    'Join_Date': pd.to_datetime('2023-01-01') + pd.to_timedelta(np.random.randint(0, 365, size=num_rows), unit='D')
}

# Create a DataFrame
df = pd.DataFrame(data)

# Save the DataFrame to an Excel file
df.to_excel('synthetic_dataset.xlsx', index=False)

print("Synthetic dataset saved to 'synthetic_dataset.xlsx'")

# The function used to read an Excel file is read_excel()
# Example:
df = pd.read_excel('synthetic_dataset.xlsx')
print(df)

Synthetic dataset saved to 'synthetic_dataset.xlsx'
     ID  Age  Salary   Department  Join_Date
0     1   56   91228      Finance 2023-02-06
1     2   69   78984  Engineering 2023-06-09
2     3   46   70774           HR 2023-01-09
3     4   32   32568           HR 2023-08-21
4     5   60   92592           HR 2023-04-09
..  ...  ...     ...          ...        ...
95   96   42   69353           HR 2023-10-15
96   97   62   92003    Marketing 2023-12-08
97   98   58  113211      Finance 2023-05-31
98   99   46   82733    Marketing 2023-05-07
99  100   32   95318           HR 2023-06-04

[100 rows x 5 columns]

Q7. Create a new column 'Username' in df that contains only the username part of each email address.

In [14]:
def extract_usernames(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

# Creating a sample DataFrame
data = {'Email': ["akshitsharma093@gmail.com", "akshit@gmail.com"]}
df = pd.DataFrame(data)
print("DataFrame with Username:\n", extract_usernames(df), "\n")

DataFrame with Username:
                        Email         Username
0  akshitsharma093@gmail.com  akshitsharma093
1           akshit@gmail.com           akshit

Q8. Select all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10.

In [16]:
def filter_rows(df):
    return df[(df['A'] > 5) & (df['B'] < 10)]

# Creating a sample DataFrame
data = {'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)
print("Filtered DataFrame:\n", filter_rows(df), "\n")

Filtered DataFrame:
    A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [20]:
def calculate_statistics(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    return mean, median, std_dev


# Creating a sample DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
mean, median, std_dev = calculate_statistics(df)
print(f"Mean: {mean}, Median: {median}, Standard Deviation: {std_dev}\n")

Mean: 30.0, Median: 30.0, Standard Deviation: 15.811388300841896

Q10. Create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days.

In [22]:
def add_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7).mean()
    return df

# Creating a sample DataFrame
data = {'Date': pd.date_range(start='2023-01-01', periods=14, freq='D'), 'Sales': range(1, 15)}
df = pd.DataFrame(data)
print("DataFrame with MovingAverage:\n", add_moving_average(df), "\n")

DataFrame with MovingAverage:
          Date  Sales  MovingAverage
0  2023-01-01      1            NaN
1  2023-01-02      2            NaN
2  2023-01-03      3            NaN
3  2023-01-04      4            NaN
4  2023-01-05      5            NaN
5  2023-01-06      6            NaN
6  2023-01-07      7            4.0
7  2023-01-08      8            5.0
8  2023-01-09      9            6.0
9  2023-01-10     10            7.0
10 2023-01-11     11            8.0
11 2023-01-12     12            9.0
12 2023-01-13     13           10.0
13 2023-01-14     14           11.0

Q11. Create a new column 'Weekday' in the DataFrame that contains the weekday name corresponding to each date in the 'Date' column.

In [23]:
def add_weekday(df):
    df['Weekday'] = df['Date'].dt.day_name()
    return df

# Creating a sample DataFrame
data = {'Date': pd.date_range(start='2023-01-01', periods=5, freq='D')}
df = pd.DataFrame(data)
print("DataFrame with Weekday:\n", add_weekday(df), "\n")

DataFrame with Weekday:
         Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [24]:
def select_date_range(df):
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
    return df.loc[mask]

# Creating a sample DataFrame
data = {'Date': pd.date_range(start='2023-01-01', periods=60, freq='D')}
df = pd.DataFrame(data)
print("DataFrame with dates between 2023-01-01 and 2023-01-31:\n", select_date_range(df), "\n")

DataFrame with dates between 2023-01-01 and 2023-01-31:
          Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

In [25]:
# The first and foremost necessary library that needs to be imported is pandas
import pandas as pd